// .greedy-nav .visible-links li:last-child a {
//      //margin-left: 5px; 
// }

.archive__item-title:nth-of-type(1) { 
    margin-top: 10px
}

.masthead__inner-wrap {
  text-transform: uppercase;
  font-weight: 700;
}

// .author__bio {
//     @include breakpoint($medium) {
//         display: inline-block;
//         max-width: $max-width;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//     }
}